:root {
  --color-white: #ffffff;
  --dark-color: #4d4d4d;

  --primary-color: #f469b2;
  --secondary-color: #48968f;
  --tertiary-color: #cb6ce6;
}

@font-face {
  font-family: Poppins;
  src: url("../fonts/Poppins-Regular.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: "Poppins", Tahoma, Geneva, Verdana, sans-serif;
}

#page {
  max-width: 800px;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}

@media only screen and (max-width: 768px) {
  #page {
    padding-top: 20px;
  }
}
